.tx {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; color: #FFFFFF }
.titelrot {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #FF0000; font-weight: bold}
.disclaimer {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #0066CC}
.copywhite {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #FFFFFF}
.lauftext {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px}
td {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px}
a:hover {  color: #FFFFFF}
a:active {  color: #FFFFFF}
a {  font-family: Verdana, Arial, Helvetica, sans-serif; text-decoration: underline}a {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: normal; color: #000000; text-decoration: underline }