.ia{position:relative;width:99%;color:#000000;background-color:#FFFFFF;border:1px solid #444444}
.ib{color:#FBFE89;background-color:#6285DF;border:1px solid #333333}
.tbl{position:relative;height:96%}