# MySQL-Front Dump 2.5
#
# Host: localhost   Database: plechacik
# --------------------------------------------------------
# Server version 3.23.54-nt


#
# Table structure for table 'aktuality'
#

CREATE TABLE aktuality (
  id tinyint(3) unsigned NOT NULL auto_increment,
  nazov text,
  pridany date default NULL,
  text text,
  PRIMARY KEY  (id),
  KEY id (id)
) TYPE=MyISAM;



#
# Dumping data for table 'aktuality'
#

INSERT INTO aktuality VALUES("5", "toto je novy oznam", "2004-06-06", "asdf\r\nasdf\r\nsd\r\nf");
INSERT INTO aktuality VALUES("7", "dfg", "2004-06-06", "ds");
INSERT INTO aktuality VALUES("8", "lo;o", "2004-06-06", "dfe35353");


#
# Table structure for table 'anketa'
#

CREATE TABLE anketa (
  id int(3) unsigned NOT NULL auto_increment,
  otazka varchar(100) default '0',
  odpoved_1 varchar(50) default '0',
  odpoved_2 varchar(50) default '0',
  odpoved_3 varchar(50) default '0',
  odpoved_4 varchar(50) default '0',
  platnost_od date NOT NULL default '0000-00-00',
  platnost_do date NOT NULL default '0000-00-00',
  pocet_1 int(3) unsigned default '0',
  pocet_2 int(3) unsigned default '0',
  pocet_3 int(3) unsigned default '0',
  pocet_4 int(3) unsigned default '0',
  PRIMARY KEY  (id)
) TYPE=MyISAM;



#
# Dumping data for table 'anketa'
#

INSERT INTO anketa VALUES("1", "Kedy sa potopil titanic?", "este sa nepotopil, lebo nemal na to cas.", "1912", "co je titanic?", "o com tocis?", "2003-07-24", "2003-07-24", "21", "2", "4", "38");
INSERT INTO anketa VALUES("6", "Tak toto je nova anketa. Je tak?", "ano", "nie", "mozno", "neviem", "2003-07-25", "2003-07-25", "4", "5", "1", "2");
INSERT INTO anketa VALUES("7", "Akého chatovacieho klienta používate?", "IRC", "PonyChat", "ICQ", "o com tocis?", "2003-07-22", "2003-07-22", "2", "2", "2", "1");


#
# Table structure for table 'fara_omse'
#

CREATE TABLE fara_omse (
  id tinyint(3) unsigned NOT NULL auto_increment,
  den tinyint(3) unsigned default '0',
  miesto tinyint(3) unsigned default '0',
  cas text,
  PRIMARY KEY  (id),
  UNIQUE KEY id (id),
  KEY id_2 (id)
) TYPE=MyISAM;



#
# Dumping data for table 'fara_omse'
#



#
# Table structure for table 'fara_slavenie'
#

CREATE TABLE fara_slavenie (
  id tinyint(3) unsigned NOT NULL auto_increment,
  datum text,
  slavenie text,
  PRIMARY KEY  (id),
  KEY id (id)
) TYPE=MyISAM;



#
# Dumping data for table 'fara_slavenie'
#

INSERT INTO fara_slavenie VALUES("1", "31. 41. 2004", "toto je privelky oznam ktory tam bude umiestneny takze testujem ako sa to bude spravat");
INSERT INTO fara_slavenie VALUES("2", "2.2.2004", "slavenie utorok");
INSERT INTO fara_slavenie VALUES("3", "3.3.2004", "slavenie stredu");


#
# Table structure for table 'gb'
#

CREATE TABLE gb (
  id int(3) NOT NULL auto_increment,
  text text NOT NULL,
  od text NOT NULL,
  datum varchar(60) NOT NULL default '',
  ip text NOT NULL,
  PRIMARY KEY  (id),
  UNIQUE KEY id (id)
) TYPE=MyISAM;



#
# Dumping data for table 'gb'
#

INSERT INTO gb VALUES("1", "", "asdfasdf", "", "");
INSERT INTO gb VALUES("2", "", "ivan", "", "");
INSERT INTO gb VALUES("3", "toto je sprava ktora tam bude napisana\r\nv novom riadku toto bude\r\n a toto tiez", "ivan", "", "");


#
# Table structure for table 'oznamy'
#

CREATE TABLE oznamy (
  id int(3) NOT NULL auto_increment,
  nazov text NOT NULL,
  text text NOT NULL,
  platnost_od date NOT NULL default '0000-00-00',
  platnost_do date NOT NULL default '0000-00-00',
  viditelnost smallint(5) unsigned default NULL,
  PRIMARY KEY  (id)
) TYPE=MyISAM;



#
# Dumping data for table 'oznamy'
#



#
# Table structure for table 'oznamy_fara'
#

CREATE TABLE oznamy_fara (
  id int(3) NOT NULL auto_increment,
  nazov text NOT NULL,
  text text NOT NULL,
  pridany date default NULL,
  PRIMARY KEY  (id)
) TYPE=MyISAM;



#
# Dumping data for table 'oznamy_fara'
#

INSERT INTO oznamy_fara VALUES("7", "Upratovanie", "sdfds\r\nsd\r\nfsd\r\nf\r\nds\r\n\r\ncvc\r\n", "2004-11-28");
INSERT INTO oznamy_fara VALUES("8", "novy oznam", "toto je <b>novy oznam</b> ", "2004-12-04");
INSERT INTO oznamy_fara VALUES("9", "asd", "asdf", "2004-12-05");


#
# Table structure for table 'titles'
#

CREATE TABLE titles (
  id tinyint(3) unsigned NOT NULL default '0',
  text text,
  locate tinyint(3) unsigned default NULL,
  PRIMARY KEY  (id),
  UNIQUE KEY id (id),
  KEY id_2 (id)
) TYPE=MyISAM;



#
# Dumping data for table 'titles'
#

INSERT INTO titles VALUES("1", "BOHOSLUŽOBNÝ PORIADOK NA TÝŽDEŇ PO 32. NEDELI V CEZROČNOM OBDOBÍ", "1");


#
# Table structure for table 'users'
#

CREATE TABLE users (
  id int(3) unsigned NOT NULL auto_increment,
  login varchar(20) NOT NULL default '0',
  password varchar(60) NOT NULL default '0',
  privilege int(3) unsigned default '0',
  email varchar(30) NOT NULL default '',
  meno text,
  PRIMARY KEY  (id)
) TYPE=MyISAM;



#
# Dumping data for table 'users'
#

INSERT INTO users VALUES("1", "admin", "ed878f1dc8cd0ad7a96f8d6e905c0b6a", "1", "stefko@seznam.cz", "Ivan Stefko");
INSERT INTO users VALUES("10", "marek", "28a34010e84b881fb087359c7e280a08", "2", "asdf@asd.sk", "Marek Andras");
INSERT INTO users VALUES("6", "peto", "0ff68179820a88f04344b8962fed3d2b", "3", "asdf@a.sk", "Peto Kosco");
